<!DOCTYPE html>
<html>
<head>
    <title>Pomodoro {{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styleAccount.css">
</head>
<body>
    <h1>Pomodoro Study Timer</h1>
    <div id="infoContainer">
        <h2>{{title}}</h2>
        <form method="post">
        <label for="username">Username:</label><br>
		<input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <button id="submit">{{title}}</button>
        {{#if login}}
            <p>Don't have an account?</p>
            <a href="/register">Sign up</a>
        {{/if}}
		</form>
    </div>
</body>
</html>
