<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Jua&family=Patrick+Hand+SC&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.js" charset="utf-8" defer></script>
    

</head>

<body>

    <h1 id="title">Pomodoro Study Timer</h1>
	<div class="upperRightMenu">
		<button id="settingsIcon">
			<img class="icon" src="settings25px.png" alt="Settings">
		</button>
		<button id="shopIcon">
			<img class="icon" src="store25px.png" alt="Settings">
		</button>
	</div>

    <div id="timerBox">
        <div id="selectTimer">
            <button id="pomodoro" class="timerOption">Pomodoro</button>
            <button id="shortBreak" class="timerOption">Short Break</button>
            <button id="longBreak" class="timerOption">Long Break</button>
        </div>
        <h2 id="timer">10:00</h2>
        <button id="startTimer">Start Timer</button>
    </div>


    <div id="settingsMenu" class="hidden">
        <h2 id="settingsHeader">Settings</h2>
        <button id="closeSettings">X</button>
        <div id="customTimer">
            <h3>Customize Timer Length</h3>
            <label for="pomodoroLength">Pomodoro:</label>
            <input type="number" id="pomodoroLength" placeholder="Enter minutes (whole number)" min="1" value="25"><br>
            <label for="shortBreakLength">Short Break:</label>
            <input type="number" id="shortBreakLength" placeholder="Enter minutes (whole number)" min="1" value="5"><br>
            <label for="longBreakLength">Long Break:</label>
            <input type="number" id="longBreakLength" placeholder="Enter minutes (whole number)" min="1" value="15"><br>
            <button id="save">Save</button>
            <button id="reset">Reset to Defaults</button>
        </div>
    </div>

    <div id="shop" class="hidden">
        <h2 id="shopHeader">Store</h2>
        <button id="closeShop">X</button>
        <h3>Themes</h3>
        <div id="changeTheme">
            {{#each colorOptions}}
                <button class="colorOption" style="background: {{styles.storeButtonColor}}">
                {{#if locked}}
                    <img class="locked" src="lock25px.png" alt="Locked">
                    <p class="cost">{{creditCost}}</p>
                {{/if}}
                </button>
            {{/each}}
        </div>
    </div>

	<div id="loginWarning" style="display:none;">
		<h2>Warning!</h2>
		<p>You are not <a href="/login">logged in</a>. Any progress will be lost.</p>
	</div>

    <script src="script.js"></script>
    
</body>
