:root {
    --bg-color: #f8f1f1;
    --primary-color: #ffc1c1;
    --accent-color: #ffb6b9;
    --text-color: #4a4a4a;
    --hover-shadow: rgba(255, 180, 185, 0.5);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    margin: 5px;
    padding: 0;
}

ul {
    text-align: left;
}

button {
    padding: 10px;
    background-color: var(--primary-color);
    border-style: none;
    border-radius: 8px;
    box-shadow: 0px 2px 5px var(--hover-shadow);
    color: var(--text-color);
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

button:hover {
    cursor: pointer;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 6px rgba(255, 180, 185, 0.5);
    transform: translateY(-1px);
    transition: all 0.2s ease;
}

input {
    margin: 10px;
    width: 40px;
    background-color: var(--bg-color);
    border-style: none;
    border-radius: 2px;
    color: var(--text-color);
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.icon {
    width: 30px;
    height: 30px;
    display: block;
}

#title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    left: 10px;
    font-size: 40px;
}

.upperRightMenu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#timerBox {
    margin-top: 12%;
    padding: 30px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#timer {
    font-size: 40px;
}

.timerOption {
    margin-left: 15px;
    margin-right: 15px;
}

#changeTheme {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
    justify-items: center;
    align-items: center;
}

#settingsIcon {
    border-radius: 50%;
}

#shopIcon {
    border-radius: 50%;
}

#loginWarning {
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}
#loginWarning h2 {
    padding: 0;
    margin: 0;
    color: orange;
}

#settingsMenu {
    padding: 15px;
    width: 50vw;
    height: 55vh;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#closeSettings {
    margin-top: 5px;
    margin-right: 0px;
    padding: 0px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    border: none;
}

#settingsHeader {
    margin: 0;
    font-size: 30px;
}

#save {
    margin: 10px;
    padding: 5px;
}

#reset {
    margin: 10px;
    padding: 5px;
}

#shop {
    padding: 15px;
    width: 50vw;
    height: 60vh;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    border-style: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#closeShop {
    margin-top: 5px;
    margin-right: 0px;
    padding: 0px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    border: none;
}

#shopHeader {
    margin: 0;
    font-size: 30px;
}

.colorOption {
    width: 100%;
    height: 60px;
    padding: 5px;
}

.locked {
    width: 20px;
    height: 20px;
}

.cost {
    font-size: 10px;
    margin: 0px;
}

#red {
    background-color: #ffc1c1;
}

#pink {
    background-color: #ff91c1;
}

#coral {
    background-color: #ffc8a3;
}

#yellow {
    background-color: #ffe8a3;
}

#green {
    background-color: #b1ffca;
}

#blue {
    background-color: #a3d9ff;
}

#purple {
    background-color: #d1a3ff;
}

#blackAndWhite {
    background-color: #d9d9d9;
}

#sunset {
    background: linear-gradient(to top, #f8b988, #eb8d88, #c26989, #695d8c);
}

#candy {
    background: linear-gradient(to top, #d9f1f3, #fcf0dc, #fbdee2, #feafab);
}

#space {
    background: linear-gradient(to top, #a3ffd6, #7bc9ff, #8576ff, #1c1678);
}

#tropical {
    background: linear-gradient(to top, #8ee2a7, #ffc94a, #ff6699, #5a3a2a);
}
